.bg-gray-100 {
  background-color: #f3f4f6;
}

.txt-gray-100 {
  color: #f3f4f6;
}

.undr-gray-100 {
  -webkit-text-decoration-color: #f3f4f6;
          text-decoration-color: #f3f4f6;
}

.bg-gray-200 {
  background-color: #e5e7eb;
}

.txt-gray-200 {
  color: #e5e7eb;
}

.undr-gray-200 {
  -webkit-text-decoration-color: #e5e7eb;
          text-decoration-color: #e5e7eb;
}

.bg-gray-300 {
  background-color: #d1d5db;
}

.txt-gray-300 {
  color: #d1d5db;
}

.undr-gray-300 {
  -webkit-text-decoration-color: #d1d5db;
          text-decoration-color: #d1d5db;
}

.bg-gray-400 {
  background-color: #9ca3af;
}

.txt-gray-400 {
  color: #9ca3af;
}

.undr-gray-400 {
  -webkit-text-decoration-color: #9ca3af;
          text-decoration-color: #9ca3af;
}

.bg-gray-500 {
  background-color: #6b7280;
}

.txt-gray-500 {
  color: #6b7280;
}

.undr-gray-500 {
  -webkit-text-decoration-color: #6b7280;
          text-decoration-color: #6b7280;
}

.bg-gray-600 {
  background-color: #4b5563;
}

.txt-gray-600 {
  color: #4b5563;
}

.undr-gray-600 {
  -webkit-text-decoration-color: #4b5563;
          text-decoration-color: #4b5563;
}

.bg-gray-700 {
  background-color: #374151;
}

.txt-gray-700 {
  color: #374151;
}

.undr-gray-700 {
  -webkit-text-decoration-color: #374151;
          text-decoration-color: #374151;
}

.bg-gray-800 {
  background-color: #1f2937;
}

.txt-gray-800 {
  color: #1f2937;
}

.undr-gray-800 {
  -webkit-text-decoration-color: #1f2937;
          text-decoration-color: #1f2937;
}

.bg-gray-900 {
  background-color: #111827;
}

.txt-gray-900 {
  color: #111827;
}

.undr-gray-900 {
  -webkit-text-decoration-color: #111827;
          text-decoration-color: #111827;
}

.bg-red-100 {
  background-color: #fee2e2;
}

.txt-red-100 {
  color: #fee2e2;
}

.undr-red-100 {
  -webkit-text-decoration-color: #fee2e2;
          text-decoration-color: #fee2e2;
}

.bg-red-200 {
  background-color: #fecaca;
}

.txt-red-200 {
  color: #fecaca;
}

.undr-red-200 {
  -webkit-text-decoration-color: #fecaca;
          text-decoration-color: #fecaca;
}

.bg-red-300 {
  background-color: #fca5a5;
}

.txt-red-300 {
  color: #fca5a5;
}

.undr-red-300 {
  -webkit-text-decoration-color: #fca5a5;
          text-decoration-color: #fca5a5;
}

.bg-red-400 {
  background-color: #f87171;
}

.txt-red-400 {
  color: #f87171;
}

.undr-red-400 {
  -webkit-text-decoration-color: #f87171;
          text-decoration-color: #f87171;
}

.bg-red-500 {
  background-color: #ef4444;
}

.txt-red-500 {
  color: #ef4444;
}

.undr-red-500 {
  -webkit-text-decoration-color: #ef4444;
          text-decoration-color: #ef4444;
}

.bg-red-600 {
  background-color: #dc2626;
}

.txt-red-600 {
  color: #dc2626;
}

.undr-red-600 {
  -webkit-text-decoration-color: #dc2626;
          text-decoration-color: #dc2626;
}

.bg-red-700 {
  background-color: #b91c1c;
}

.txt-red-700 {
  color: #b91c1c;
}

.undr-red-700 {
  -webkit-text-decoration-color: #b91c1c;
          text-decoration-color: #b91c1c;
}

.bg-red-800 {
  background-color: #991b1b;
}

.txt-red-800 {
  color: #991b1b;
}

.undr-red-800 {
  -webkit-text-decoration-color: #991b1b;
          text-decoration-color: #991b1b;
}

.bg-red-900 {
  background-color: #7f1d1d;
}

.txt-red-900 {
  color: #7f1d1d;
}

.undr-red-900 {
  -webkit-text-decoration-color: #7f1d1d;
          text-decoration-color: #7f1d1d;
}

.bg-orange-100 {
  background-color: #ffedd5;
}

.txt-orange-100 {
  color: #ffedd5;
}

.undr-orange-100 {
  -webkit-text-decoration-color: #ffedd5;
          text-decoration-color: #ffedd5;
}

.bg-orange-200 {
  background-color: #fed7aa;
}

.txt-orange-200 {
  color: #fed7aa;
}

.undr-orange-200 {
  -webkit-text-decoration-color: #fed7aa;
          text-decoration-color: #fed7aa;
}

.bg-orange-300 {
  background-color: #fdba74;
}

.txt-orange-300 {
  color: #fdba74;
}

.undr-orange-300 {
  -webkit-text-decoration-color: #fdba74;
          text-decoration-color: #fdba74;
}

.bg-orange-400 {
  background-color: #fb923c;
}

.txt-orange-400 {
  color: #fb923c;
}

.undr-orange-400 {
  -webkit-text-decoration-color: #fb923c;
          text-decoration-color: #fb923c;
}

.bg-orange-500 {
  background-color: #f97316;
}

.txt-orange-500 {
  color: #f97316;
}

.undr-orange-500 {
  -webkit-text-decoration-color: #f97316;
          text-decoration-color: #f97316;
}

.bg-orange-600 {
  background-color: #ea580c;
}

.txt-orange-600 {
  color: #ea580c;
}

.undr-orange-600 {
  -webkit-text-decoration-color: #ea580c;
          text-decoration-color: #ea580c;
}

.bg-orange-700 {
  background-color: #c2410c;
}

.txt-orange-700 {
  color: #c2410c;
}

.undr-orange-700 {
  -webkit-text-decoration-color: #c2410c;
          text-decoration-color: #c2410c;
}

.bg-orange-800 {
  background-color: #9a3412;
}

.txt-orange-800 {
  color: #9a3412;
}

.undr-orange-800 {
  -webkit-text-decoration-color: #9a3412;
          text-decoration-color: #9a3412;
}

.bg-orange-900 {
  background-color: #7c2d12;
}

.txt-orange-900 {
  color: #7c2d12;
}

.undr-orange-900 {
  -webkit-text-decoration-color: #7c2d12;
          text-decoration-color: #7c2d12;
}

.bg-yellow-100 {
  background-color: #fef9c3;
}

.txt-yellow-100 {
  color: #fef9c3;
}

.undr-yellow-100 {
  -webkit-text-decoration-color: #fef9c3;
          text-decoration-color: #fef9c3;
}

.bg-yellow-200 {
  background-color: #fef08a;
}

.txt-yellow-200 {
  color: #fef08a;
}

.undr-yellow-200 {
  -webkit-text-decoration-color: #fef08a;
          text-decoration-color: #fef08a;
}

.bg-yellow-300 {
  background-color: #fde047;
}

.txt-yellow-300 {
  color: #fde047;
}

.undr-yellow-300 {
  -webkit-text-decoration-color: #fde047;
          text-decoration-color: #fde047;
}

.bg-yellow-400 {
  background-color: #facc15;
}

.txt-yellow-400 {
  color: #facc15;
}

.undr-yellow-400 {
  -webkit-text-decoration-color: #facc15;
          text-decoration-color: #facc15;
}

.bg-yellow-500 {
  background-color: #eab308;
}

.txt-yellow-500 {
  color: #eab308;
}

.undr-yellow-500 {
  -webkit-text-decoration-color: #eab308;
          text-decoration-color: #eab308;
}

.bg-yellow-600 {
  background-color: #ca8a04;
}

.txt-yellow-600 {
  color: #ca8a04;
}

.undr-yellow-600 {
  -webkit-text-decoration-color: #ca8a04;
          text-decoration-color: #ca8a04;
}

.bg-yellow-700 {
  background-color: #a16207;
}

.txt-yellow-700 {
  color: #a16207;
}

.undr-yellow-700 {
  -webkit-text-decoration-color: #a16207;
          text-decoration-color: #a16207;
}

.bg-yellow-800 {
  background-color: #854d0e;
}

.txt-yellow-800 {
  color: #854d0e;
}

.undr-yellow-800 {
  -webkit-text-decoration-color: #854d0e;
          text-decoration-color: #854d0e;
}

.bg-yellow-900 {
  background-color: #713f12;
}

.txt-yellow-900 {
  color: #713f12;
}

.undr-yellow-900 {
  -webkit-text-decoration-color: #713f12;
          text-decoration-color: #713f12;
}

.bg-lime-100 {
  background-color: #ecfccb;
}

.txt-lime-100 {
  color: #ecfccb;
}

.undr-lime-100 {
  -webkit-text-decoration-color: #ecfccb;
          text-decoration-color: #ecfccb;
}

.bg-lime-200 {
  background-color: #d9f99d;
}

.txt-lime-200 {
  color: #d9f99d;
}

.undr-lime-200 {
  -webkit-text-decoration-color: #d9f99d;
          text-decoration-color: #d9f99d;
}

.bg-lime-300 {
  background-color: #bef264;
}

.txt-lime-300 {
  color: #bef264;
}

.undr-lime-300 {
  -webkit-text-decoration-color: #bef264;
          text-decoration-color: #bef264;
}

.bg-lime-400 {
  background-color: #a3e635;
}

.txt-lime-400 {
  color: #a3e635;
}

.undr-lime-400 {
  -webkit-text-decoration-color: #a3e635;
          text-decoration-color: #a3e635;
}

.bg-lime-500 {
  background-color: #84cc16;
}

.txt-lime-500 {
  color: #84cc16;
}

.undr-lime-500 {
  -webkit-text-decoration-color: #84cc16;
          text-decoration-color: #84cc16;
}

.bg-lime-600 {
  background-color: #65a30d;
}

.txt-lime-600 {
  color: #65a30d;
}

.undr-lime-600 {
  -webkit-text-decoration-color: #65a30d;
          text-decoration-color: #65a30d;
}

.bg-lime-700 {
  background-color: #4d7c0f;
}

.txt-lime-700 {
  color: #4d7c0f;
}

.undr-lime-700 {
  -webkit-text-decoration-color: #4d7c0f;
          text-decoration-color: #4d7c0f;
}

.bg-lime-800 {
  background-color: #3f6212;
}

.txt-lime-800 {
  color: #3f6212;
}

.undr-lime-800 {
  -webkit-text-decoration-color: #3f6212;
          text-decoration-color: #3f6212;
}

.bg-lime-900 {
  background-color: #365314;
}

.txt-lime-900 {
  color: #365314;
}

.undr-lime-900 {
  -webkit-text-decoration-color: #365314;
          text-decoration-color: #365314;
}

.bg-green-100 {
  background-color: #dcfce7;
}

.txt-green-100 {
  color: #dcfce7;
}

.undr-green-100 {
  -webkit-text-decoration-color: #dcfce7;
          text-decoration-color: #dcfce7;
}

.bg-green-200 {
  background-color: #bbf7d0;
}

.txt-green-200 {
  color: #bbf7d0;
}

.undr-green-200 {
  -webkit-text-decoration-color: #bbf7d0;
          text-decoration-color: #bbf7d0;
}

.bg-green-300 {
  background-color: #86efac;
}

.txt-green-300 {
  color: #86efac;
}

.undr-green-300 {
  -webkit-text-decoration-color: #86efac;
          text-decoration-color: #86efac;
}

.bg-green-400 {
  background-color: #4ade80;
}

.txt-green-400 {
  color: #4ade80;
}

.undr-green-400 {
  -webkit-text-decoration-color: #4ade80;
          text-decoration-color: #4ade80;
}

.bg-green-500 {
  background-color: #22c55e;
}

.txt-green-500 {
  color: #22c55e;
}

.undr-green-500 {
  -webkit-text-decoration-color: #22c55e;
          text-decoration-color: #22c55e;
}

.bg-green-600 {
  background-color: #16a34a;
}

.txt-green-600 {
  color: #16a34a;
}

.undr-green-600 {
  -webkit-text-decoration-color: #16a34a;
          text-decoration-color: #16a34a;
}

.bg-green-700 {
  background-color: #15803d;
}

.txt-green-700 {
  color: #15803d;
}

.undr-green-700 {
  -webkit-text-decoration-color: #15803d;
          text-decoration-color: #15803d;
}

.bg-green-800 {
  background-color: #166534;
}

.txt-green-800 {
  color: #166534;
}

.undr-green-800 {
  -webkit-text-decoration-color: #166534;
          text-decoration-color: #166534;
}

.bg-green-900 {
  background-color: #14532d;
}

.txt-green-900 {
  color: #14532d;
}

.undr-green-900 {
  -webkit-text-decoration-color: #14532d;
          text-decoration-color: #14532d;
}

.bg-cyan-100 {
  background-color: #cffafe;
}

.txt-cyan-100 {
  color: #cffafe;
}

.undr-cyan-100 {
  -webkit-text-decoration-color: #cffafe;
          text-decoration-color: #cffafe;
}

.bg-cyan-200 {
  background-color: #a5f3fc;
}

.txt-cyan-200 {
  color: #a5f3fc;
}

.undr-cyan-200 {
  -webkit-text-decoration-color: #a5f3fc;
          text-decoration-color: #a5f3fc;
}

.bg-cyan-300 {
  background-color: #67e8f9;
}

.txt-cyan-300 {
  color: #67e8f9;
}

.undr-cyan-300 {
  -webkit-text-decoration-color: #67e8f9;
          text-decoration-color: #67e8f9;
}

.bg-cyan-400 {
  background-color: #22d3ee;
}

.txt-cyan-400 {
  color: #22d3ee;
}

.undr-cyan-400 {
  -webkit-text-decoration-color: #22d3ee;
          text-decoration-color: #22d3ee;
}

.bg-cyan-500 {
  background-color: #06b6d4;
}

.txt-cyan-500 {
  color: #06b6d4;
}

.undr-cyan-500 {
  -webkit-text-decoration-color: #06b6d4;
          text-decoration-color: #06b6d4;
}

.bg-cyan-600 {
  background-color: #0891b2;
}

.txt-cyan-600 {
  color: #0891b2;
}

.undr-cyan-600 {
  -webkit-text-decoration-color: #0891b2;
          text-decoration-color: #0891b2;
}

.bg-cyan-700 {
  background-color: #0e7490;
}

.txt-cyan-700 {
  color: #0e7490;
}

.undr-cyan-700 {
  -webkit-text-decoration-color: #0e7490;
          text-decoration-color: #0e7490;
}

.bg-cyan-800 {
  background-color: #155e75;
}

.txt-cyan-800 {
  color: #155e75;
}

.undr-cyan-800 {
  -webkit-text-decoration-color: #155e75;
          text-decoration-color: #155e75;
}

.bg-cyan-900 {
  background-color: #164e63;
}

.txt-cyan-900 {
  color: #164e63;
}

.undr-cyan-900 {
  -webkit-text-decoration-color: #164e63;
          text-decoration-color: #164e63;
}

.bg-blue-100 {
  background-color: #dbeafe;
}

.txt-blue-100 {
  color: #dbeafe;
}

.undr-blue-100 {
  -webkit-text-decoration-color: #dbeafe;
          text-decoration-color: #dbeafe;
}

.bg-blue-200 {
  background-color: #bfdbfe;
}

.txt-blue-200 {
  color: #bfdbfe;
}

.undr-blue-200 {
  -webkit-text-decoration-color: #bfdbfe;
          text-decoration-color: #bfdbfe;
}

.bg-blue-300 {
  background-color: #93c5fd;
}

.txt-blue-300 {
  color: #93c5fd;
}

.undr-blue-300 {
  -webkit-text-decoration-color: #93c5fd;
          text-decoration-color: #93c5fd;
}

.bg-blue-400 {
  background-color: #60a5fa;
}

.txt-blue-400 {
  color: #60a5fa;
}

.undr-blue-400 {
  -webkit-text-decoration-color: #60a5fa;
          text-decoration-color: #60a5fa;
}

.bg-blue-500 {
  background-color: #3b82f6;
}

.txt-blue-500 {
  color: #3b82f6;
}

.undr-blue-500 {
  -webkit-text-decoration-color: #3b82f6;
          text-decoration-color: #3b82f6;
}

.bg-blue-600 {
  background-color: #2563eb;
}

.txt-blue-600 {
  color: #2563eb;
}

.undr-blue-600 {
  -webkit-text-decoration-color: #2563eb;
          text-decoration-color: #2563eb;
}

.bg-blue-700 {
  background-color: #1d4ed8;
}

.txt-blue-700 {
  color: #1d4ed8;
}

.undr-blue-700 {
  -webkit-text-decoration-color: #1d4ed8;
          text-decoration-color: #1d4ed8;
}

.bg-blue-800 {
  background-color: #1e40af;
}

.txt-blue-800 {
  color: #1e40af;
}

.undr-blue-800 {
  -webkit-text-decoration-color: #1e40af;
          text-decoration-color: #1e40af;
}

.bg-blue-900 {
  background-color: #1e3a8a;
}

.txt-blue-900 {
  color: #1e3a8a;
}

.undr-blue-900 {
  -webkit-text-decoration-color: #1e3a8a;
          text-decoration-color: #1e3a8a;
}

.bg-indigo-100 {
  background-color: #e0e7ff;
}

.txt-indigo-100 {
  color: #e0e7ff;
}

.undr-indigo-100 {
  -webkit-text-decoration-color: #e0e7ff;
          text-decoration-color: #e0e7ff;
}

.bg-indigo-200 {
  background-color: #c7d2fe;
}

.txt-indigo-200 {
  color: #c7d2fe;
}

.undr-indigo-200 {
  -webkit-text-decoration-color: #c7d2fe;
          text-decoration-color: #c7d2fe;
}

.bg-indigo-300 {
  background-color: #a5b4fc;
}

.txt-indigo-300 {
  color: #a5b4fc;
}

.undr-indigo-300 {
  -webkit-text-decoration-color: #a5b4fc;
          text-decoration-color: #a5b4fc;
}

.bg-indigo-400 {
  background-color: #818cf8;
}

.txt-indigo-400 {
  color: #818cf8;
}

.undr-indigo-400 {
  -webkit-text-decoration-color: #818cf8;
          text-decoration-color: #818cf8;
}

.bg-indigo-500 {
  background-color: #6366f1;
}

.txt-indigo-500 {
  color: #6366f1;
}

.undr-indigo-500 {
  -webkit-text-decoration-color: #6366f1;
          text-decoration-color: #6366f1;
}

.bg-indigo-600 {
  background-color: #4f46e5;
}

.txt-indigo-600 {
  color: #4f46e5;
}

.undr-indigo-600 {
  -webkit-text-decoration-color: #4f46e5;
          text-decoration-color: #4f46e5;
}

.bg-indigo-700 {
  background-color: #4338ca;
}

.txt-indigo-700 {
  color: #4338ca;
}

.undr-indigo-700 {
  -webkit-text-decoration-color: #4338ca;
          text-decoration-color: #4338ca;
}

.bg-indigo-800 {
  background-color: #3730a3;
}

.txt-indigo-800 {
  color: #3730a3;
}

.undr-indigo-800 {
  -webkit-text-decoration-color: #3730a3;
          text-decoration-color: #3730a3;
}

.bg-indigo-900 {
  background-color: #312e81;
}

.txt-indigo-900 {
  color: #312e81;
}

.undr-indigo-900 {
  -webkit-text-decoration-color: #312e81;
          text-decoration-color: #312e81;
}

.bg-violet-100 {
  background-color: #ede9fe;
}

.txt-violet-100 {
  color: #ede9fe;
}

.undr-violet-100 {
  -webkit-text-decoration-color: #ede9fe;
          text-decoration-color: #ede9fe;
}

.bg-violet-200 {
  background-color: #ddd6fe;
}

.txt-violet-200 {
  color: #ddd6fe;
}

.undr-violet-200 {
  -webkit-text-decoration-color: #ddd6fe;
          text-decoration-color: #ddd6fe;
}

.bg-violet-300 {
  background-color: #c4b5fd;
}

.txt-violet-300 {
  color: #c4b5fd;
}

.undr-violet-300 {
  -webkit-text-decoration-color: #c4b5fd;
          text-decoration-color: #c4b5fd;
}

.bg-violet-400 {
  background-color: #a78bfa;
}

.txt-violet-400 {
  color: #a78bfa;
}

.undr-violet-400 {
  -webkit-text-decoration-color: #a78bfa;
          text-decoration-color: #a78bfa;
}

.bg-violet-500 {
  background-color: #8b5cf6;
}

.txt-violet-500 {
  color: #8b5cf6;
}

.undr-violet-500 {
  -webkit-text-decoration-color: #8b5cf6;
          text-decoration-color: #8b5cf6;
}

.bg-violet-600 {
  background-color: #7c3aed;
}

.txt-violet-600 {
  color: #7c3aed;
}

.undr-violet-600 {
  -webkit-text-decoration-color: #7c3aed;
          text-decoration-color: #7c3aed;
}

.bg-violet-700 {
  background-color: #6d28d9;
}

.txt-violet-700 {
  color: #6d28d9;
}

.undr-violet-700 {
  -webkit-text-decoration-color: #6d28d9;
          text-decoration-color: #6d28d9;
}

.bg-violet-800 {
  background-color: #5b21b6;
}

.txt-violet-800 {
  color: #5b21b6;
}

.undr-violet-800 {
  -webkit-text-decoration-color: #5b21b6;
          text-decoration-color: #5b21b6;
}

.bg-violet-900 {
  background-color: #4c1d95;
}

.txt-violet-900 {
  color: #4c1d95;
}

.undr-violet-900 {
  -webkit-text-decoration-color: #4c1d95;
          text-decoration-color: #4c1d95;
}

.bg-fuchsia-100 {
  background-color: #fae8ff;
}

.txt-fuchsia-100 {
  color: #fae8ff;
}

.undr-fuchsia-100 {
  -webkit-text-decoration-color: #fae8ff;
          text-decoration-color: #fae8ff;
}

.bg-fuchsia-200 {
  background-color: #f5d0fe;
}

.txt-fuchsia-200 {
  color: #f5d0fe;
}

.undr-fuchsia-200 {
  -webkit-text-decoration-color: #f5d0fe;
          text-decoration-color: #f5d0fe;
}

.bg-fuchsia-300 {
  background-color: #f0abfc;
}

.txt-fuchsia-300 {
  color: #f0abfc;
}

.undr-fuchsia-300 {
  -webkit-text-decoration-color: #f0abfc;
          text-decoration-color: #f0abfc;
}

.bg-fuchsia-400 {
  background-color: #e879f9;
}

.txt-fuchsia-400 {
  color: #e879f9;
}

.undr-fuchsia-400 {
  -webkit-text-decoration-color: #e879f9;
          text-decoration-color: #e879f9;
}

.bg-fuchsia-500 {
  background-color: #d946ef;
}

.txt-fuchsia-500 {
  color: #d946ef;
}

.undr-fuchsia-500 {
  -webkit-text-decoration-color: #d946ef;
          text-decoration-color: #d946ef;
}

.bg-fuchsia-600 {
  background-color: #c026d3;
}

.txt-fuchsia-600 {
  color: #c026d3;
}

.undr-fuchsia-600 {
  -webkit-text-decoration-color: #c026d3;
          text-decoration-color: #c026d3;
}

.bg-fuchsia-700 {
  background-color: #a21caf;
}

.txt-fuchsia-700 {
  color: #a21caf;
}

.undr-fuchsia-700 {
  -webkit-text-decoration-color: #a21caf;
          text-decoration-color: #a21caf;
}

.bg-fuchsia-800 {
  background-color: #86198f;
}

.txt-fuchsia-800 {
  color: #86198f;
}

.undr-fuchsia-800 {
  -webkit-text-decoration-color: #86198f;
          text-decoration-color: #86198f;
}

.bg-fuchsia-900 {
  background-color: #701a75;
}

.txt-fuchsia-900 {
  color: #701a75;
}

.undr-fuchsia-900 {
  -webkit-text-decoration-color: #701a75;
          text-decoration-color: #701a75;
}

.bg-pink-100 {
  background-color: #fce7f3;
}

.txt-pink-100 {
  color: #fce7f3;
}

.undr-pink-100 {
  -webkit-text-decoration-color: #fce7f3;
          text-decoration-color: #fce7f3;
}

.bg-pink-200 {
  background-color: #fbcfe8;
}

.txt-pink-200 {
  color: #fbcfe8;
}

.undr-pink-200 {
  -webkit-text-decoration-color: #fbcfe8;
          text-decoration-color: #fbcfe8;
}

.bg-pink-300 {
  background-color: #f9a8d4;
}

.txt-pink-300 {
  color: #f9a8d4;
}

.undr-pink-300 {
  -webkit-text-decoration-color: #f9a8d4;
          text-decoration-color: #f9a8d4;
}

.bg-pink-400 {
  background-color: #f472b6;
}

.txt-pink-400 {
  color: #f472b6;
}

.undr-pink-400 {
  -webkit-text-decoration-color: #f472b6;
          text-decoration-color: #f472b6;
}

.bg-pink-500 {
  background-color: #ec4899;
}

.txt-pink-500 {
  color: #ec4899;
}

.undr-pink-500 {
  -webkit-text-decoration-color: #ec4899;
          text-decoration-color: #ec4899;
}

.bg-pink-600 {
  background-color: #db2777;
}

.txt-pink-600 {
  color: #db2777;
}

.undr-pink-600 {
  -webkit-text-decoration-color: #db2777;
          text-decoration-color: #db2777;
}

.bg-pink-700 {
  background-color: #be185d;
}

.txt-pink-700 {
  color: #be185d;
}

.undr-pink-700 {
  -webkit-text-decoration-color: #be185d;
          text-decoration-color: #be185d;
}

.bg-pink-800 {
  background-color: #9d174d;
}

.txt-pink-800 {
  color: #9d174d;
}

.undr-pink-800 {
  -webkit-text-decoration-color: #9d174d;
          text-decoration-color: #9d174d;
}

.bg-pink-900 {
  background-color: #831843;
}

.txt-pink-900 {
  color: #831843;
}

.undr-pink-900 {
  -webkit-text-decoration-color: #831843;
          text-decoration-color: #831843;
}/*# sourceMappingURL=color-kit.css.map */